@import "../../_variables.scss";
.product__list {
  display: flex;
  flex-wrap: wrap;
  // width: 100%; wrong
  list-style-type: none;
  padding: 0;
  margin: 0 -12px;
  @include Responsive(tablet) {
    margin: 0 -6px;
  }
  @include Responsive(smartphone) {
    margin: 0 -4px;
  }
}
