@import "../../_variables.scss";
.contact {
  margin-top: $header--height;
}
.contact__bgr {
  background-image: url("../../asset/contact/1.jpg");
  background-size: cover;
  background-position: center center;
  height: 65vh;
  margin-bottom: 2rem;

  @include Responsive(smartphone) {
    height: 40vh;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  @include Responsive(tablet) {
    width: 94%;
  }
  @include Responsive(smartphone) {
    flex-direction: column;
    width: 94%;
    align-items: center;
  }
}
.contact__message {
  width: 100%;
  padding: 2.5rem 3.5rem;
  border: 0.1px solid rgb(196, 192, 192);
  h3 {
    color: map-get($color, main);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
.contact__address {
  width: 100%;
  padding: 2.5rem 3.5rem;
  border: 0.1px solid rgb(196, 192, 192);
}
.contact__city {
  background-color: rgb(243, 243, 237);
  padding: 6px 12px;
  h3 {
    font-size: 1.5rem;
    color: map-get($color, main);
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
  }
  p {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 300;
  }
}
