@import "../../_variables.scss";
.register__noti__wrap {
  margin-top: 8rem;
  // max-width: 20rem;
  text-align: center;
  font-size: 1.4rem;
  color: black;
  font-weight: 500;
}
.register__noti__title {
  width: 60%;
  max-width: 30rem;
  margin: 4rem auto;
  @include Responsive(smartphone) {
    width: 80%;
    margin: 2rem auto;
  }
}
