@import "../../_variables.scss";
.footer {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 56px;

  h5 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: map-get($color, main);
    margin-bottom: 1rem;
    @include Responsive(smartphone) {
      text-align: center;
    }
  }
  @include Responsive(smartphone) {
    padding: 0 2rem;
  }
  @include Responsive(tablet) {
    padding: 0 2rem;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(49, 48, 48);
  @include Responsive(smartphone) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__content--promo {
  img {
    height: 150px;
    width: 250px;
    @media (min-width: 500px) and (max-width: 920px) {
      width: 200px;
    }
    &:hover {
      cursor: pointer;
      font-weight: 500;
    }
  }

  span {
    display: block;
    font-weight: 300;
    &:hover {
      color: map-get($color, main);
    }
  }
  &:hover {
    cursor: pointer;
    font-weight: 500;
  }
  @include Responsive(smartphone) {
    text-align: center;
    width: 20rem;
  }
}
.footer__content--links {
  @media (min-width: 500px) and (max-width: 920px) {
    width: 20rem;
  }
}
.links__group {
  @include Responsive(smartphone) {
    display: flex;
    justify-content: center;
  }
}
.list__link {
  display: inline-block;
  font-weight: 300;
  margin-right: 1rem;

  a {
    display: block;
    margin-bottom: 0.5rem;
    &:hover {
      cursor: pointer;
      color: map-get($color, main);
      font-weight: 500;
    }
  }
}
.footer__content--contact {
  width: 20rem;
  font-weight: 300;
  @include Responsive(smartphone) {
    width: 15rem;
  }
}
.footer__copyright {
  margin-top: 0;
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
